{% extends 'MocksBundle::layout.html.twig' %}

{% block body %}
    <h1>Drivers</h1>
    <div class="row">
        <div class="small-12 columns">
            <a href="#" class="tiny button">Add Driver</a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <table class="drivers">
                <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Login</th>
                    <th>Status</th>
                    <th width="145px">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Dmitry Papka</td>
                    <td>1000_dmitry.papka</td>
                    <td><span class="online">Online</span></td>
                    <td>
                        <a href="#" class="tiny button">Edit/View</a>
                    </td>
                </tr>
                <tr>
                    <td>Dmitry Papka</td>
                    <td>1000_dmitry.papka</td>
                    <td><span class="online">Online</span></td>
                    <td>
                        <a href="#" class="tiny button">Edit/View</a>
                    </td>
                </tr>
                <tr>
                    <td>Dmitry Papka</td>
                    <td>1000_dmitry.papka</td>
                    <td><span class="online">Online</span></td>
                    <td>
                        <a href="#" class="tiny button">Edit/View</a>
                    </td>
                </tr>
                <tr>
                    <td>Dmitry Papka</td>
                    <td>1000_dmitry.papka</td>
                    <td><span class="online">Online</span></td>
                    <td>
                        <a href="#" class="tiny button">Edit/View</a>
                    </td>
                </tr>
                <tr>
                    <td>Dmitry Papka</td>
                    <td>1000_dmitry.papka</td>
                    <td><span class="offline">Offline</span></td>
                    <td>
                        <a href="#" class="tiny button">Edit/View</a>
                    </td>
                </tr>
                <tr>
                    <td>Dmitry Papka</td>
                    <td>1000_dmitry.papka</td>
                    <td><span class="offline">Offline</span></td>
                    <td>
                        <a href="#" class="tiny button">Edit/View</a>
                    </td>
                </tr>
                <tr>
                    <td>Dmitry Papka</td>
                    <td>1000_dmitry.papka</td>
                    <td><span class="offline">Offline</span></td>
                    <td>
                        <a href="#" class="tiny button">Edit/View</a>
                    </td>
                </tr>
                <tr>
                    <td>Dmitry Papka</td>
                    <td>1000_dmitry.papka</td>
                    <td><span class="offline">Offline</span></td>
                    <td>
                        <a href="#" class="tiny button">Edit/View</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/drivers.css') }}">
{% endblock %}