<div class="header">
    <div class="row">
        <div class="small-12 columns">
            <div class="authorization-status">
                <i class="fi-alert"></i> You are not logged in to system
            </div>
        </div>
    </div>
</div>