<div class="header">
    <div class="row">
        <div class="small-12 columns">
            <div class="authorization-status">
                {% set userInfo = app.session.get('userInfo') %}
                {% if userInfo is empty %}
                    <i class="fi-alert"></i> You are not logged into system
                {% else %}
                    You are logged in as <b>{{ userInfo.name }}</b>
                {% endif %}
            </div>
        </div>
    </div>
</div>