{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>Login to System</h1>
    <form>
        <div class="row">
            <div class="small-12 columns">
                <label>
                    Your Login:
                    <input type="text" placeholder="1000_mylogin">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <label>
                    Password:
                    <input type="password" placeholder="**********">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <input type="submit" class="small button" value="Sign In">
            </div>
            <div class="small-6 columns">
                <div class="switch right">
                    <span class="remember-me">Remember Me</span>
                    <input id="rememberMe" type="checkbox">
                    <label for="rememberMe"></label>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block tabs %}
    {{ include('MocksBundle:authorization:tabs.html.twig', {'active': 2}) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/sign-in-sign-up.css') }}">
{% endblock %}