{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>Operators</h1>
    <div class="row">
        <div class="small-12 columns">
            <a href="{{ url('operator') }}" class="tiny button">Add Operator</a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <table class="operators">
                <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Login</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for operator in operators %}
                    <tr>
                        <td>{{ operator.name }}</td>
                        <td>{{ operator.login }}</td>
                        {% if operator.isOnline %}
                            <td><span class="online">Online</span></td>
                        {% else %}
                            <td><span class="offline">Offline</span></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/operators.css') }}">
{% endblock %}