<ul class="tabs">
    <li{% if active == 1 %} class="active"{% endif %}><a href="{{ url('new-account') }}">New Account</a></li>
    <li{% if active == 2 %} class="active"{% endif %}><a href="{{ url('authorization') }}">Login to System</a></li>
</ul>